doctype html
script.
  document.addEventListener("DOMContentLoaded", function(event) {
    if (#{netstatus} == false) {
      document.getElementById("netvaerksstatus").style.display = "block"
      document.getElementById("netvaerksstatus").style.color = "red";
    }
    else
      document.getElementById("netvaerksstatus").style.display = "none"

    sessionStorage.setItem("titleText", `#{getNewsTitle}`)
    sessionStorage.setItem("bodyText", `#{getNewsBody}`)
    sessionStorage.setItem("startText", `#{getNewsStart}`)
    sessionStorage.setItem("endText", `#{getNewsEnd}`)
  })




head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  //meta(http-equiv='refresh', content='60')
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js')
  script(src="https://cdn.jsdelivr.net/npm/underscore@1.13.1/underscore-umd-min.js")
  script(type='text/javascript' defer src='/frontend/js/index.js')
  link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css', rel='stylesheet', integrity='sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF', crossorigin='anonymous')
  link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.7.0/css/all.css', integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ', crossorigin='anonymous')
  link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Poppins')
  style
    include ./css/style.css
  title info screen

div.clock.klokken 
#AARHUSTECH.AARHUSTECH AARHUS TECH SKP
#dato.dato 
#aktiviteter.aktiviteter Aktiviteter
p#netvaerksstatus.netvaerksstatus Netv&aelig;rksstatus
div.center
  // div til de to bokse
  div.info
    div.info_titeltext
    div.info_text
    div.info_titeltext
    div.info_text
    div.info_titeltext
    div.info_text
  div.kontakt
    // div til den røde info boks
    div.instruktoer
      img.billeder(src='images/Ulrich.png')
      p
      p.instruktoer_title  Ulrich kan kontaktes p&aring;:
      |           mail: umf@aarhustech.dk
      br
      |            Telefon: 61987304
      p
      br
      img.billeder(src='images/Karsten.png')
      p
      p.instruktoer_title Karsten kan kontaktes p&aring;:
      |         mail: krs@aarhustech.dk
      br
      |             Telefon: 22234565
      p
      br
      img.billeder(src='images/Simon.png')
      p
      p.instruktoer_title Simon kan kontaktes p&aring;:
      |           mail: sas@aarhustech.dk
      br
      |             Telefon: 22234166
      p

div.ticker-container
  div.widthcontainer
    div.ticker
      div.title
        h5 DR
      |       
      div.news
        marquee(loop='infinite')
          p
            // - side hvor for vores script fra https://rss.bloople.net/
            script(src='//rss.bloople.net/?url=https%3A%2F%2Fwww.dr.dk%2Fnyheder%2Fservice%2Ffeeds%2Fsenestenyt&showtitle=false&type=js')
