html
	head
		title= person.firstname
	body
		h1= person.firstname
		article 
			p Firstname #{person.firstname} 
			p Middlename: #{person.middlename} 
			p Lastname: #{person.lastname} 
			p Id: #{person.id}